.example-form-field {
  width: 200px;
}

table {
  width: 100%;
}

.posClass{
  width: 75px;
}

.nameClass{
  width: 100px;
}

.surnameClass{
  width: 100px;
}

.nrClass{
  width: 100px;
}

.cityClass{
  width: 75px;
}

.brtClass{
  width: 150px;
}

.actionClass{
  width: 150px;
}
button {
  background-color: cornflowerblue;
}
.label{
  color: rgb(0, 0, 0);

}